{%load static %}

{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {% tailwind_css %}
<!-- ========== Start stylesheet ========== -->
<link rel="stylesheet" href="{% static 'css/main.css'  %}">
<!-- ========== End stylesheet ========== -->

   
<!-- ========== Start jquery ========== -->
<script async src="{% static 'js/jquery.js' %}"></script>

<!-- ========== End jquery ========== -->

<!-- ========== Start chart js  ========== -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- ========== End chart js  ========== -->

<!-- ========== Start fontawesome ========== -->
<script src="https://kit.fontawesome.com/65210e3c63.js" crossorigin="anonymous"></script>
<!-- ========== End fontawesome ========== -->

<!-- ========== Start botpress bot  ========== -->
<script src="https://cdn.botpress.dev/webchat/v0/inject.js"></script>
<script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
<!-- ========== End botpress bot  ========== -->



</head>
<body>
    
 