{% load static %}

<div class="min-h-screen flex flex-col ">
    <div class="flex flex-row text-center justify-center pt-3 p-2">
        <img src="{% static "img/logo.png" %}" alt="" class=" rounded w-18 h-18 mt-7">
        <h1 class="text-white font-bold mt-12 text-2xl"><span class="text-green-400 ">Gate</span>pass</h1>
    </div>

    <nav class="flex-grow  shadow-lg px-4 ">

        <ul class="space-y-2 text-lg">
            <li class="my-3 p-3"><a href="{% url 'dashboard' %}" class="text-white text-center font-semibold font-sans hover:bg-slate-400 px-9 py-2  rounded  "><i class="fa-solid fa-house"></i> Home </a></li>
            
            {% if user_type == 'teacher' %}
          
            <li class="my-3 p-3"><a href="{% url 'staff' %}" class="text-white text-center font-semibold font-sans hover:bg-slate-400 px-9 py-2   rounded  "><i class="fa-regular fa-hourglass-half"></i>Wating Pass  </a></li>
            <li class="my-3 p-3"><a href="#" class="text-white text-center font-semibold font-sans hover:bg-slate-400 px-9 py-2   rounded  "><i class="fa-solid fa-circle-check"></i> Status </a></li>
            <!-- Add more navigation items for 'Teacher' here -->
        {% elif user_type == "student" %}
            <!-- Navigation items for 'staff' -->
            <li class="my-3 p-3"><a href="{% url 'applicationform' %}" class="text-white text-center font-semibold font-sans hover:bg-slate-400 px-9 py-2  rounded  "><i class="fa-solid fa-user-tie"></i> Pass apply</a></li>
            <li class="my-3 p-3"><a href="#" class="text-white text-center font-semibold font-sans hover:bg-slate-400 px-9 py-2   rounded  "><i class="fa-solid fa-circle-check"></i> Status </a></li>
        {% elif user_type == "hod" %}
        <li class="my-3 p-3"><a href="{% url 'hod' %}" class="text-white text-center font-semibold font-sans hover:bg-slate-400 px-9 py-2  rounded  "><i class="fa-regular fa-hourglass-half"></i> Wating Pass </a></li>
        <li class="my-3 p-3"><a href="#" class="text-white text-center font-semibold font-sans hover:bg-slate-400 px-9 py-2   rounded  "><i class="fa-solid fa-circle-check"></i> Status </a></li>

        {% elif user_type == "warden" %}
        <li class="my-3 p-3"><a href="{% url 'approvals' %}" class="text-white text-center font-semibold font-sans hover:bg-slate-400 px-9 py-2  rounded  "><i class="fa-regular fa-hourglass-half"></i> Wating Pass</a></li>
        <li class="my-3 p-3"><a href="{% url 'warden' %}"  class="text-white text-center font-semibold font-sans hover:bg-slate-400 px-9 py-2  rounded  "><i class="fa-solid fa-circle-check"></i> Approved </a></li>
        <li class="my-3 p-3"><a href="#" class="text-white text-center font-semibold font-sans hover:bg-slate-400 px-9 py-2   rounded  "><i class="fa-solid fa-circle-check"></i> Status </a></li>
        {% else %}
        <li class="my-3 p-3"><a href="#" class="text-white text-center font-semibold font-sans hover:bg-slate-400 px-9 py-2  rounded  "><i class="fa-solid fa-hourglass-end"></i> Help</a></li>
            <!-- Navigation items for other user types -->
        {% endif %}

        <li class="my-3 p-3"><a href="{% url 'logout_view' %}" class="text-white text-center font-semibold font-sans hover:bg-slate-400 px-9 py-2 rounded "><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
        </ul>

    </nav>


   
</div>