{% extends "inc/navbarcontent.html" %}
{% block content %}
{% include "pages/visual/visulation.html" %} 
<script>
  window.botpressWebChat.init({
      "composerPlaceholder": "Gatepasstracker Bot",
      "botConversationDescription": "I am the bot , i can help you",
      "botId": "371a70bd-4cac-4092-af9d-0d1e18fe0974",
      "hostUrl": "https://cdn.botpress.cloud/webchat/v1",
      "messagingUrl": "https://messaging.botpress.cloud",
      "clientId": "371a70bd-4cac-4092-af9d-0d1e18fe0974",
      "webhookId": "fee06fce-7a2f-459f-95dd-fb732c1eb82f",
      "lazySocket": true,
      "themeName": "prism",
      "frontendVersion": "v1",
      "showPoweredBy": true,
      "theme": "prism",
      "themeColor": "#2563eb",
      'stylesheet':'https://webchat-styler-css.botpress.app/prod/eb0a2e11-cfe5-431c-a785-dc706b37f4bc/v41076/style.css'
  });
</script>
{% endblock %}


        
